<ion-view view-title="Unlock">
  <ion-content scroll="false">
    <div class="container-check">
    <div  style="position:absolute;
  width: 100px;
  height: 100px;
  background: transparent;
  z-index: 99999999;
  top: 120px;
  left: 110px;">
  <i class="fa fa-lock" ion-pinch></i>
  </div>

  <i class="fa fa-check" ></i>
  

  <div class="lock"></div>

  <div class="bubble"></div>
  <div class="bubble"></div>
</div>
    

  </ion-content>
</ion-view>
