/* Empty. Add your own CSS if you like */
.container-check {
  width: 400px;
  height: 400px;
  margin: 80px auto;
  position: relative;
}

.fa-check {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.fa-lock {
  cursor:pointer;
}
.fa-lock,
.fa-check {
  font-size: 6em !important;
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  z-index: 4;
  position: absolute;
  top: 38%;
  left: 38%;
}

.lock,
.bubble {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.lock {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.bubble {
  -webkit-transition: 1s all;
  transition: 1s all;
}

.bubble:nth-child(4) {
  width: 240px;
  height: 240px;
  border: 1px solid rgba(0, 0, 0, .8);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  -webkit-transform: scale(0.60);
          transform: scale(0.60);
}

.bubble:nth-child(5) {
  width: 320px;
  height: 320px;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  -webkit-transform: scale(0.30);
          transform: scale(0.30);
}

.container-check .expand {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.away {
  -webkit-animation: awayWith 1s;
          animation: awayWith 1s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.return {
  -webkit-animation: returnWith 2s;
          animation: returnWith 2s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes awayWith {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes awayWith {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes returnWith {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes returnWith {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.good {
  background: rgba(120, 255, 109, 0.5);
  -webkit-animation: correct 2s;
          animation: correct 2s;
}

@-webkit-keyframes correct {
  0% {
    background: rgba(0, 0, 0, 0.4);
  }
  50% {
    background: rgba(0, 0, 0, 0.4);
  }
}

@keyframes correct {
  0% {
    background: rgba(0, 0, 0, 0.4);
  }
  50% {
    background: rgba(0, 0, 0, 0.4);
  }
}